@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url(./components/cursor.css);
@import url(./components/loader.css);

@import url(./container.css);
@import url(./multimedia.css);
@import url(./typography.css);

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    color-scheme: light dark;

    /* Realtime Colors */
    --text: #fdfcfd;
    --background: #000;
    --primary: #ff0000;
    --secondary: #b6e2837c;
    --tertairy: #d9e6ed;
    --accent: #ff0000;

    color-scheme: light dark;
    color: var(--text);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.hide{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}
