.lazyload { 
    position: relative;

    > img, video { 
        height: 100%;
        object-fit: cover;
        position: relative;
        width: 100%;
    }
}

.lazyload::before {
    border-radius: 18px;
    content:'';
    background: gray;
    height: 100%;
    position: absolute;
    width: 100%;
}
